@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Syne:wght@400;500;600;700;800&display=swap');

body * {
    font-family: 'Syne';
}

/**HEADER**/

.menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 60px;
    text-decoration: none;
    font-style: normal;
    color: #000;
    font-family: Syne;font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

nav {
    display: flex;
    flex-direction: row;
    padding-top: 31px;
    padding-bottom: 30px;
}

nav a:hover {
    font-size: 13px;
    font-weight: 700;
}

#site-title {
    display: none;
}

.header {
    display: none;
}

header {
    background-color: white;
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-logo {
    display: flex;
    align-items: center;
    padding: 0 0 0 37px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

/**Ajout du boutton commander indépendament du menu WP pour faciliter la mise en place du HOOK admin**/

#nav-button {
    flex-direction: flex;
    align-items: center;
    width: 236px;
    height: 80px;
    border-radius: 0;
    background-color: #DC9F96;   
}

#nav-button:hover {
    background-color: #C02E44;
    cursor: pointer;
}

/**Personnalisation du menu WP avec ajout du HOOK admin **/




/**FOOTER**/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    padding: 20px 0 21px 0;
    background-color: white;
}

  
 /** RESPONSIVE **/

 @media screen {
    
 }